/* GENERAL */
body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(to bottom right, #fdfbff, #ece4f8);
  color: #333;
  margin: 0;
  padding: 0;
}

/* MAPA GENERAL */
#map {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CONTENEDOR HORIZONTAL */
.fila {
  display: flex;
  flex-wrap: wrap; /* Para que sea responsivo */
  gap: 20px;
  padding: 20px;
}

/* TEXTO IZQUIERDA o DERECHA */
.texto {
  flex: 2;
  background-color: #ffffffc7;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/* MAPA EN COLUMNA */
.mapa {
  flex: 1;
  height: 400px;
}

/* IMAGEN EN COLUMNA */
.imagen {
  flex: 1;
  padding: 1rem;
  background-color: #ffffffc7;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
